.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #666666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
  transition: 0.1s; 
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #222222;
  color: white;
}

.topnav a.active:hover {
    background-color: #dddddd;
    color: #222222;
    transition: 0.1s; 
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
